## things to consider in Statistics

1- not just use decribe()/ explain the mean or every column
2- make comparison about corelations between columns, heatmap can help.DO REGRESSIONA ANALYSIS
3-create subction: q-test 
4- do a summary

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup

In [10]:
#getting json info of N
naptan_irl_json = "https://www.transportforireland.ie/transitData/naptan.json"
response = requests.get(naptan_irl_json)

In [11]:
response

In [13]:
response = requests.get(naptan_irl_json)

# Parse the JSON response
data = response.json()

In [54]:
#len(data)
len(data['features'])

16491

In [59]:
from pandas import json_normalize

# Sample dictionary with nested structure
nested_data = {
    'Name': ['John', 'Jane', 'Bob'],
    'Info': {'Age': [30, 25, 35], 'Department': ['HR', 'IT', 'Finance']}
}

# Use json_normalize to flatten the nested structure
df_ = json_normalize(data['features'])

# Display the DataFrame
df_.head()

,type,properties.AtcoCode,properties.CommonName,properties.CommonNameGA,properties.ShortCommonName,properties.ShortCommonNameGA,properties.NptgLocalityRef,properties.Easting,properties.Northing,properties.Latitude,...,properties.CompassPoint,properties.AdministrativeAreaRef,properties.Status,properties.CreationDateTime,properties.ModificationDateTime,geometry.type,geometry.coordinates,properties.Street,properties.PlateCode,properties.StopAreaRef
0,Feature,7010PB003857,Ballymagrorty,B Mhic Robhartaigh,Ballymagrorty,B Mhic Robhartaigh,E0701003,641057,920841,55.033404,...,NW,701,active,1969-12-31T00:00:00.000,2021-06-01T16:08:18.000,Point,"[-7.3577718, 55.0334043]",NaN,NaN,NaN
1,Feature,7010PB003858,Coshquin,NaN,NaN,NaN,E0701003,641054,920860,55.033575,...,N,701,active,1969-12-31T00:00:00.000,2016-10-28T15:12:27.000,Point,"[-7.3578159, 55.0335753]",NaN,NaN,NaN
2,Feature,7010PB003859,Culmore Point,NaN,NaN,NaN,E0701003,646370,922263,55.045712,...,N,701,active,1969-12-31T00:00:00.000,1969-12-31T23:00:00.000,Point,"[-7.2744401, 55.0457123]",Culmore Road,NaN,NaN
3,Feature,7010PB003860,Culmore Point,NaN,NaN,NaN,E0701003,646379,922262,55.045702,...,N,701,active,1969-12-31T00:00:00.000,1969-12-31T23:00:00.000,Point,"[-7.2742994, 55.0457025]",Culmore Road,NaN,NaN
4,Feature,7010B158131,Ulsterbus Depot,Busáras Ulsterbus,Ulsterbus Depot,Busáras Ulsterbus,E0701001,643648,916772,54.996629,...,N,701,active,2000-01-01T00:00:00.000,2021-06-17T18:10:53.000,Point,"[-7.3178663, 54.9966288]",NaN,158131.0,NaN

In [22]:
data['features'][0]['properties']

{'AtcoCode': '7010PB003857',
 'CommonName': 'Ballymagrorty',
 'CommonNameGA': 'B Mhic Robhartaigh',
 'ShortCommonName': 'Ballymagrorty',
 'ShortCommonNameGA': 'B Mhic Robhartaigh',
 'NptgLocalityRef': 'E0701003',
 'Easting': 641057,
 'Northing': 920841,
 'Latitude': 55.0334043,
 'Longitude': -7.3577718,
 'StopType': 'BCT',
 'BusStopType': 'CUS',
 'TimingStatus': 'OTH',
 'CompassPoint': 'NW',
 'AdministrativeAreaRef': 701,
 'Status': 'active',
 'CreationDateTime': '1969-12-31T00:00:00.000',
 'ModificationDateTime': '2021-06-01T16:08:18.000'}

In [27]:
url = 'https://naptan.api.dft.gov.uk'
csv_format ='/v1/access-nodes?dataFormat=csv'

In [43]:
df = pd.read_csv(url + csv_format)

/var/folders/13/lflfr2vd5yx56dpdvjrmqhbw0000gn/T/ipykernel_10877/726932757.py:1: DtypeWarning: Columns (1,2,6,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url + csv_format)

In [41]:
df.tail()

,ATCOCode,NaptanCode,PlateCode,CleardownCode,CommonName,CommonNameLang,ShortCommonName,ShortCommonNameLang,Landmark,LandmarkLang,...,TimingStatus,DefaultWaitTime,Notes,NotesLang,AdministrativeAreaCode,CreationDateTime,ModificationDateTime,RevisionNumber,Modification,Status
437250,9400ZZTWWJT1,36290154,NaN,NaN,McDonald Road,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,147,2023-03-16T13:43:07,2023-03-16T13:43:07,0.0,new,active
437251,9400ZZTWWJT2,36290155,NaN,NaN,McDonald Road,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,147,2023-03-16T13:43:07,2023-03-16T13:43:07,0.0,new,active
437252,9400ZZTWWJU,NaN,NaN,NaN,Picardy Place,NaN,NaN,NaN,opp 12,NaN,...,NaN,NaN,NaN,NaN,147,2022-11-11T12:00:00,2022-11-11T12:00:00,0.0,new,active
437253,9400ZZTWWJU1,36290156,NaN,NaN,Picardy Place,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,147,2023-03-16T13:43:07,2023-03-16T13:43:07,0.0,new,active
437254,9400ZZTWWJU2,36290157,NaN,NaN,Picardy Place,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,147,2023-03-16T13:43:07,2023-03-16T13:43:07,0.0,new,active

In [37]:
df.columns

Index(['ATCOCode', 'NaptanCode', 'PlateCode', 'CleardownCode', 'CommonName',
       'CommonNameLang', 'ShortCommonName', 'ShortCommonNameLang', 'Landmark',
       'LandmarkLang', 'Street', 'StreetLang', 'Crossing', 'CrossingLang',
       'Indicator', 'IndicatorLang', 'Bearing', 'NptgLocalityCode',
       'LocalityName', 'ParentLocalityName', 'GrandParentLocalityName', 'Town',
       'TownLang', 'Suburb', 'SuburbLang', 'LocalityCentre', 'GridType',
       'Easting', 'Northing', 'Longitude', 'Latitude', 'StopType',
       'BusStopType', 'TimingStatus', 'DefaultWaitTime', 'Notes', 'NotesLang',
       'AdministrativeAreaCode', 'CreationDateTime', 'ModificationDateTime',
       'RevisionNumber', 'Modification', 'Status'],
      dtype='object')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437255 entries, 0 to 437254
Data columns (total 43 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ATCOCode                 437255 non-null  object
 1   NaptanCode               409741 non-null  object
 2   PlateCode                62933 non-null   object
 3   CleardownCode            0 non-null       float64
 4   CommonName               437255 non-null  object
 5   CommonNameLang           0 non-null       float64
 6   ShortCommonName          96344 non-null   object
 7   ShortCommonNameLang      0 non-null       float64
 8   Landmark                 273594 non-null  object
 9   LandmarkLang             0 non-null       float64
 10  Street                   423220 non-null  object
 11  StreetLang               0 non-null       float64
 12  Crossing                 0 non-null       float64
 13  CrossingLang             0 non-null       float64
 14  Indicator                414886 non-null  object
 15  IndicatorLang            0 non-null       float64
 16  Bearing                  414084 non-null  object
 17  NptgLocalityCode         437255 non-null  object
 18  LocalityName             437251 non-null  object
 19  ParentLocalityName       193101 non-null  object
 20  GrandParentLocalityName  0 non-null       float64
 21  Town                     154744 non-null  object
 22  TownLang                 15422 non-null   object
 23  Suburb                   70857 non-null   object
 24  SuburbLang               11710 non-null   object
 25  LocalityCentre           432036 non-null  object
 26  GridType                 421413 non-null  object
 27  Easting                  437255 non-null  int64
 28  Northing                 437255 non-null  int64
 29  Longitude                361143 non-null  float64
 30  Latitude                 361143 non-null  float64
 31  StopType                 437255 non-null  object
 32  BusStopType              418520 non-null  object
 33  TimingStatus             421317 non-null  object
 34  DefaultWaitTime          0 non-null       float64
 35  Notes                    0 non-null       float64
 36  NotesLang                0 non-null       float64
 37  AdministrativeAreaCode   437255 non-null  int64
 38  CreationDateTime         437255 non-null  object
 39  ModificationDateTime     436808 non-null  object
 40  RevisionNumber           426522 non-null  float64
 41  Modification             402075 non-null  object
 42  Status                   437255 non-null  object
dtypes: float64(15), int64(3), object(25)
memory usage: 143.4+ MB

In [44]:
df.shape

(437255, 43)

In [45]:
df['PlateCode'].isnull().sum()

374322